body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
}


.white-popup {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.bootstrap-space-fixer
{
    padding-right: 2px;
    padding-left: 2px;
}

.portfolio-web-box {
    padding: 35px 0px;
}


.coding-link {
    color: #1b1b1b;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.coding-link:hover {
    background-color: #ff0084;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.portfolio-other i {
    color: #1b1b1b;
    padding: 5px;
}



.portfolio-web-box img {
    max-width: 100%;
}

.white-popup p {
    background-color: #ff1184;
    width: 55%;
    position: absolute;
    bottom: -15px;
    color: #fff;
    line-height: 1.2;
    padding: 10px;
}

.white-popup img {
    max-width: 100%;

}

.mfp-close {
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 1;

    margin: 2px;
    font-size: 40px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

button.mfp-close,
button.mfp-arrow {
    background-color: #000;
}

.mfp-content {
    width: auto!important;
}

#page-header {
    background-color: #1b1b1b;
    color: #fff;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

}

.to-the-left
{display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;}

#top-nav {

    margin-top: 30px;
    position: fixed;
    z-index: 20;

}

#menuToggle input {
    display: none;
}


h1 {
    font-size: 3.7em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

h1 #arisu-color {
    color: #fff;
    -webkit-animation: color-change 12s infinite;
    animation: color-change 12s infinite;

}

@-webkit-keyframes color-change {
    0% {
        color: #fff;
    }
    20% {
        color: #ff0084;
    }
    40% {
        color: #fff;
    }

}

@keyframes color-change {
    0% {
        color: #fff;
    }
    20% {
        color: #ff0084;
    }
    40% {
        color: #fff;
    }

}

h1 #saktos-color {
    color: #ff0084;
    -webkit-animation: color-change-saktos 12s infinite;
    animation: color-change-saktos 12s infinite;

}

@-webkit-keyframes color-change-saktos {
    0% {
        color: #ff0084;
    }
    20% {
        color: #fff;
    }
    40% {
        color: #ff0084;
    }

}

@keyframes color-change-saktos {
    0% {
        color: #ff0084;
    }
    20% {
        color: #fff;
    }
    40% {
        color: #ff0084;
    }

}

h2 {
    font-size: 1em;
    font-weight: 300;
}


#top-nav #menuToggle #menu li {
    display: inline-block;
}

#top-nav #menuToggle #menu li:not(:last-child):after {
    content: ' //';
    padding: 0px 5px;
    color: #fff;
}

#top-nav #menuToggle #menu li a {
    color: #fff;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#top-nav #menuToggle #menu li a:hover {
    background-color: #ff0084;
}




.middle-section {
    margin: 220px 0px 50px 0px;
    line-height: 1.7;
}

#middle-section-coding {
    margin: 200px 10% 70px 10%;
    line-height: 1.7;
}




#about-section #about-section-descr .dotted-highlight {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px;
    display: inline-block;
    border: thin dashed #000000;
    padding: 3px 10px;
    text-transform: uppercase;
}



.pink-color {
    color: #ff0084;
}

footer {
    background-color: #1b1b1b;
    color: #fff;
    padding-bottom: 30px;
}

footer .footer-inner {
    text-align: center;
    padding-top: 30px;
}

.fa {
    padding-left: 20px;
}

i {
    color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

i:hover {
    color: #ff0084;
}

.footer-inner .footer-copyright {
    font-size: 0.8em;
    padding-top: 20px;
    opacity: 0.5;
    letter-spacing: 1px;
}

.middle-section-artwork {
    margin: 200px 0px 70px 0px;
    text-align: center;

}


.middle-section__creations {
    opacity: 0.8;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
     width: 100%;
    height: 300px;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
}


.my-popup
{width: 100%;
height: 100%;
background: rgba(0,0,0,0.8);
position: fixed;
z-index: 100;
top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  
    cursor: pointer;

}

.my-popup .popup-photo-container
{
    width: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.my-popup .popup-photo-container
 img
{

    max-width: 100%;
        -ms-flex-item-align: center;
        align-self: center;

    border-top-right-radius:50px;
}

.my-popup .popup-photo-container
 p
{
        padding: 15px;
    color: #fff;
        text-align: center;
    margin: 0 auto;

    background-color: #ff1184;
    border-bottom-right-radius:50px;
   border-bottom-left-radius:50px;
}

.middle-section__creations img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
}


.head-image {
    max-width: 100%;
}

.about-image-box
{position: relative;}

.about-image-box figcaption span {

    color: #fff;
    text-align: center;
    background-color: #ff0084;
    padding: 20px 5px;
    display: block;
    border-radius: 5px;
}

.about-image-box figcaption i {
    padding-left: 77%;
    padding-bottom: 2%;
    color: #ff1184;
    font-size: 3em;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {

    0% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }



    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }


}

@keyframes bounce {

    0% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    50% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }



    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }


}

.about-image-box figcaption {

    position: absolute;

    width: 70%;
    opacity: 0;

    bottom: 40px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.about-image-box:hover figcaption {
    opacity: 1;
}

.middle-section__creations figcaption {
    position: absolute;
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background-color: #ff0084;
    bottom: -60px;
    -webkit-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
}

.middle-section__creations:hover {
    opacity: 1;
}

.middle-section__creations:hover figcaption {
    bottom: 0;
}

.section-heading {
    padding-bottom: 60px;

    font-size: 1.1em;
    line-height: 1.5;
}



.section-heading a {
    color: #000;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.section-heading a:hover {
    background-color: #ff0084;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}



.mfp-move-horizontal .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.mfp-move-horizontal.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.mfp-move-horizontal.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-move-horizontal.mfp-removing .mfp-with-anim {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0;
}

@media (max-width: 1500px) {

    
}


@media (max-width: 1200px) {
     #page-header h2 {
        display: none;
    }
    .my-popup .popup-photo-container
    {
        width:80%;
    }
    
     .middle-section-artwork {
        margin: 250px 0px 70px 0px;
    }

    
}



@media (max-width: 992px) {
    
      .middle-section-artwork {
        margin: 160px 0px 70px 0px;
    }
    
    .section-heading
    {    padding-bottom: 30px;}

    #top-nav #menuToggle #menu li a {
        border-radius: 0px;
    }
    .middle-section {
        margin: 170px 0px 70px 0px;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 20px;
        float: right;
        z-index: 1;

    }

    #top-nav #menuToggle #menu li {
        display: block;
        padding: 0px;
    }

    #top-nav #menuToggle #menu li:first-child {
        padding-top: 10px;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #top-nav #menuToggle #menu li:not(:last-child):after {
        content: ' ';
        padding: 0px;

    }

    #top-nav #menuToggle #menu li a {
        color: #fff;
        text-decoration: none;
        padding: 25px;
        display: block;
        width: 100%;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }


    #menuToggle span {
        display: block;
        width: 47px;
        height: 5px;
        margin-bottom: 6px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        -webkit-transform-origin: 4px 0px;
        transform-origin: 4px 0px;
        -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menuToggle span:first-child {
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    #top-nav #menuToggle #menu li a:hover {
        background-color: #000;
    }

    #menuToggle span:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked ~ span {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }


    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        -webkit-transform: rotate(-45deg) translate(0, -1px);
        transform: rotate(-45deg) translate(0, -1px);
    }


    #top-nav {
        top: 0;
        z-index: 20;
     
    }
    #menu {
        position: absolute;
        width: 267px;
        margin: -103px 0px 0px -200px;
        overflow: hidden;
        padding-top: 105px;
        background: #ff0084;
        list-style-type: none;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: translate(0, -100%);
        transform: translate(0, -100%);
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
        opacity: 1;
    }

}



  




@media (max-width: 768px) {
    
    .my-popup .popup-photo-container
    {
        width:98%;
    }

    .middle-section {
     margin: 150px 0px 30px 0px;
    }

    #page-header h1 {
        font-size: 3em;
    }



    #page-header {
        margin: 0;
    }

    .head-image-clip {
        width: 100%;
        padding: 20px 0px;
    }




    .middle-section-artwork {
        margin: 135px 0px 10px 0px;
    }

    #middle-section-coding {
        margin: 135px 3% 10px 3%;
    }

    #menuToggle {
        position: fixed;
        top: 30px;
        right: 5%;
    }

    #menu {
        width: 320px;
    }

 

    .head-image {
        padding: 20px 0px;
    }


    .mfp-close {
        margin: 0px;
    }
    .white-popup {
        width: 100%;
    }




}

@media (max-width: 500px) {

    .middle-section__creations {
        margin-bottom: 15px;
    }

    .middle-section__creations figcaption {
        bottom: 0;
        opacity: 1;
    }
    .white-popup p {
        width: 70%;
    }

    #page-header h1 {
        font-size: 2.5em;
    }



    #menuToggle {
        top: 25px;
    }
    
    .carousel-indicators
    {display: none;}

}
